html {
  /* No matter what I have tried, I cannot prevent the a#audio-control wrapping the
   * img.wagon to not overflow. This is the only way to prevent horizontal overflow.
   * Even applying this to the body tag did not work. -_-
   */
  overflow-x: hidden;
  /* Without height 100%, the border of the body will not stretch to the entire screen.
   * https://stackoverflow.com/a/7049918
   */
  height: 100%;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
  }
  @media screen and (max-width: 440px) {
  }

body {
  margin: 0;
  padding: 20;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*I hate Firefox and everything it stands for*/
  border-style: solid;
  border-width: 6px;
  -moz-border-image: url("/assets/img/b1.png") 6 round;
  -webkit-border-image: url("/assets/img/b1.png") 6 round;
  -o-border-image: url("/assets/img/b1.png") 6 round;
  border-image: url("/assets/img/b1.png") 6 round;

  background-image: url("/assets/img/b3.png");
  background-size: 100% auto;
  overflow-x: hidden;

  transform: rotate(0deg);
  transition-property: transform;
  transition-duration: 0.5s;
  height: 100%;
}

  @media screen and (max-height: 779px) {
    body {
      padding: 0;
      overflow-y: auto;
    }
  }
  @media screen and (max-width: 949px) {
  }
  @media screen and (max-width: 440px) {
  }

div.images {
  display: inline-block;
  position: relative;
  width: 200px;
  left: -300px;
  top: -350px;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.images {
      /* For some reason, the emote is above the spinning background, but below the "Oregon Trail II Randomizer" text. I need to fix this. */
      /*position: fixed;
      top: -200px;
      width: 100px;
      max-width: 100px;
      z-index: -999;*/
      display: initial;
      float: left;
      overflow: hidden;
      position: absolute;
      /*top: -300px;
      right: -300px;
      left: 50%;*/
      z-index: -999;
      width: initial;
    }
  }
  @media screen and (max-width: 440px) {
  }

div.h1 {
  font-size: 350%;
  font-weight: bold;
  font-family: 'Alegreya', serif;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.h1 span.header-title {
      margin-left: 100px;
    }
  }
  @media screen and (max-width: 440px) {
  }

img.glow {
  position: absolute;
  left: 5px;
  top: 0px;
  z-index: -999;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    img.glow {
      position: relative;
      top: 50px;
      top: 1em;
      right: -2.5em;
    }
  }
  @media screen and (max-width: 440px) {
  }

img.wagon {
  transform: scale(.5);
  -ms-transform: scale(.5);
  -webkit-transform: scale(.5);
  position: absolute;
  left: 5px;
  /*top: 0px;*/
  /*left: 50%;*/
  z-index: 1;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    img.wagon {
      top: 50px;
      /*left: 0px;*/
      top: 1em;
      right: -2.5em;
    }
  }
  @media screen and (max-width: 440px) {
  }

div.box {
  position: relative;
  padding: 40px 0px;
  font-size: 130%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; /* Prevent super large box on larger screens. */
  background-color: #F7EDCF;
  z-index: 50;
  background-image: url("/assets/img/b4.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-y: hidden;
  width: 80%;
}

  @media screen and (max-height: 779px) {
    div.box {
      padding-left: 0px;
      height: auto;
    }
  }
  @media screen and (max-width: 949px) {
    div.box {
      background-image: url("/assets/img/b4-vertical.png");
      padding-left: 0px;
      overflow-y: auto; /* Allow scrolling on mobile devices */
    }
  }
  @media screen and (max-width: 440px) {
  }

div.content {
  position: relative;
  /*height: 100%;
  width: 100%;*/
  width: 90%;
  background-size: 100% auto;
  font-family: 'Alegreya', serif;
  overflow-y: hidden;
  transition: opacity 1s;
  text-align: center;
  display: flex;
  -webkit-transition: opacity 1s;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.content {
      display: block;
    }
  }
  @media screen and (max-width: 440px) {
  }


div.column {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.column {
      width: 100%;
    }
  }
  @media screen and (max-width: 440px) {
  }

div.center-wrapper {
  /* For when a div does not want to center properly without messing up the formatting of its contents. */
  width: 100%;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  /* https://stackoverflow.com/a/12196466 */
}

div.column.teams {
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.column.teams:not(.list) {
      display: block;
    }
  }
  @media screen and (max-width: 440px) {
  }

div.column.teams.list {
  margin-left: -2em;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.column {
      display: block;
    }
    div.column.teams {
      display: inline;
    }
    div.column.teams.list {
      margin-left: 0em;
    }
  }
  @media screen and (max-width: 440px) {
  }

div.age {
  min-width: 2.5em;
}

div.row {
  display: flex;
}

div.row.accompanied {
  display: inline;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.age {
      margin-left: -0.25em;
    }
    div.row {
      display: flex;
      /*margin-left: 1.5em;*/
      /* Things that seem to work
      inline-flex - but "," and "age" are on different lines
      flex - same as above
      also use flex-direction: row;
      */
    }
    div.row.accompanied {
      margin-left: 2.1em;
      margin-bottom: -1.5em;
      /*display: flex;*/
      display: contents;
    }
  }
  @media screen and (max-width: 440px) {
  }

div.trail-journal {
  
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.trail-journal {
      margin-top: 1em;
      margin-left: -0.25em;
      min-width: 10em;
    }
  }  
  @media screen and (max-width: 440px) {
  }

div.emote-message {
  margin-bottom: -1em;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    div.emote-message {
      /*margin-left: 2em;*/
    }
  }
  @media screen and (max-width: 440px) {
  }

p.options {
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    p.options {
      margin-top: 1em;
      margin-left: -0.25em;
      min-width: 10em;
      line-height: 37px; /* I measured screenshots to make sure this produces the exact same line-height on desktop and mobile. */
    }
  }
  @media screen and (max-width: 440px) {
  }

p.desktop-spacer {
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    /* Only present on 2-column layouts. */
    p.desktop-spacer {
      display: none;
    }
  }
  @media screen and (max-width: 440px) {
  }

button {
  margin: 3px;
  border-top: 1px solid #f7ecd9;
  background: #cc9b60;
  background: -webkit-linear-gradient(top, #f0d38f, #e9be66);
  background: -moz-linear-gradient(top, #f0d38f, #e9be66);
  background: -ms-linear-gradient(top, #f0d38f, #e9be66);
  background: -o-linear-gradient(top, #f0d38f, #e9be66);
  padding: 3px 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  color: #0d0d0c;

  font-family: 'Alegreya', serif;
  text-decoration: none;
  vertical-align: middle;
}

button: hover {
  border-top-color: #bf9143;
  background: #bf9143;
  color: #f0eee4;
}

button: active {
  border-top-color: #423105;
  background: #423105;
}

button: disabled {
  border-top-color: #423105;
  background: #423105;
  color: #f0eee4;
}

button.dont-press {
  font-size: 100%;
  font-weight: bold;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    button.dont-press {
      /*margin-left: 2em;*/
    }
  }
  @media screen and (max-width: 440px) {
  }

input {
  text-align: center;
  margin: 5;
  font-family: 'Alegreya', serif;
  font-size: 80%;
  padding: 0;
  border: 1px solid #000000;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    input {
      /*display: flex;
      flex-direction: row;*/
      padding-right: 1px;
    }
  }
  @media screen and (max-width: 440px) {
  }

input.drop {
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background: #FFFFFF url("/assets/img/arrow.png") no-repeat;
  background-position: right;
  padding: 1px 16px 1px 1px;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    input.drop {
      /*display: inline-block;*/
      padding-right: 1px;
    }
  }
  @media screen and (max-width: 440px) {
  }

input.emote-box {
}
  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    input.emote-box {
      /*margin-left: 3.5em;*/
    }
    input.option-box.large {
      margin-left: -0.25em;
    }
  }
  @media screen and (max-width: 440px) {
  }

input.name-input {
  margin-top: 0.5em;
}

input.readonly-input {
  background: #E0E0E0;
}

input.readonly-input.arrow {
  background: #E0E0E0 url('/assets/img/arrow.png') no-repeat right;
}

span.desktop-show {
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    span.desktop-show {
      display: none;
    }
  }
  @media screen and (max-width: 440px) {
  }

span.mobile-show {
  display: none;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
    span.mobile-show {
      display: initial;
    }
  }
  @media screen and (max-width: 440px) {
  }

span.footer {
  opacity: 0.6;
}

br.br-short {
  display: block;
  margin: 1em;
  font-size: 24%;
  content: "";
  /* A shorter <br>, from https://stackoverflow.com/a/28310011 */
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
  }
  @media screen and (max-width: 440px) {
  }

.hide {
  display: none;
}

  @media screen and (max-height: 779px) {
  }
  @media screen and (max-width: 949px) {
  }
  @media screen and (max-width: 440px) {
    .mobile-hide {
      display: none;
    }
  }